<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="b">
        <div id="container">

            <div class="grid-it" id="nav">
                <img src="IMG-20240913-WA0000-Photoroom.png" alt="" srcset="" class="logo">
                <div class="navbar">
                    <div class="navit1"></div>

                <div class="navit">
                    <div class="navf">

                        <a href="" class="navinit">HOME</a> <a href="" class="navinit">CART</a> <a href=""
                            class="navinit">ORDERS</a> <a href="" class="navinit">ABOUT</a>
                    </div>



                </div>
                <div class="navit2"></div></div>
                
            </div>

            <div class="grid-it" id="slider"><img src="Yummy-Cake-Shop-Theme-for-eCommerce-Bakery-Owners_Slider.png" alt="" srcset="" id="sliderimg"></div>
            <div class="grid-it" id="side-bar">
                <div class="sideit" id="cart">

                    <div class="sideimg">CATAGIORY</div>
                    <div class="catboxflex">
                        <div class="catbox">
                            birthday cakes
                        </div>
                        <div class="catbox">
                            wedding cakes
                        </div>
                        <div class="catbox">
                            celebration cakes
                        </div>
                    </div>

                </div>
                <div class="sideit" id="cat">
                    <div class="sideimg" id="carth">CART</div>
                    <div class="catboxflex">
                        <div class="catbox" style="color: burlywood; margin-bottom: 50px;">
                            No Products
                        </div>
                        <div class="catbox">
                            Shipping
                        </div>
                        <div class="catbox">
                            Total
                        </div>
                    </div>
                </div>
                <div class="sideit" id="offer">
                    <div class="sideimg">OFFER</div>

                    <div class="offimg">
                        <img src="sampleimg.jpg" alt="" srcset="" width="170px">
                        
                            <p style="text-decoration: line-through; font-size: medium;">100$</p>
                        
                        <p style="font-size: large;">50$ (-50%)</p>

                    </div>
                </div>
                <div class="sideit" id="visit">
                    <div class="sideimg">VISIT</div>
                </div>
            </div>
            <div class="grid-it" id="main">

                <p style=" padding: 10px 10px 10px 25px;">FEATURED PRODUCT</p>
                <div class="pbox">

                    <div class="productbox">

                        <div class="pinfobox">
                            <div class="proimg">
                                <img src="sampleimg.jpg" alt="" srcset="" class="proimgs">
                            </div>
                            <div class="proinfo">
                                Lorem ipsum dolor sit amet consectetur addsdsd
                                <a href="/">view details></a>
                            </div>

                            <p id="price">100$</p>

                        </div>

                        <div class="pimg"> <a href="/" style="text-decoration: none; color:white;">BUY</a></div>

                    </div>





                    <div class="productbox">
                        <div class="pinfobox">
                            <div class="proimg">
                                <img src="sampleimg.jpg" alt="" srcset="" class="proimgs">
                            </div>
                            <div class="proinfo">
                                Lorem ipsum dolor sit amet consectetur addsdsd
                                <a href="/">view details></a>
                            </div>

                            <p id="price">100$</p>

                        </div>

                        <div class="pimg"> <a href="/" style="text-decoration: none; color:white;">BUY</a></div>

                    </div>
                    <div class="productbox">
                        <div class="pinfobox">
                            <div class="proimg">
                                <img src="sampleimg.jpg" alt="" srcset="" class="proimgs">
                            </div>
                            <div class="proinfo">
                                Lorem ipsum dolor sit amet consectetur addsdsd
                                <a href="/">view details></a>
                            </div>

                            <p id="price">100$</p>

                        </div>

                        <div class="pimg"> <a href="/" style="text-decoration: none; color:white;">BUY</a></div>

                    </div>
                    <div class="productbox">
                        <div class="pinfobox">
                            <div class="proimg">
                                <img src="sampleimg.jpg" alt="" srcset="" class="proimgs">
                            </div>
                            <div class="proinfo">
                                Lorem ipsum dolor sit amet consectetur addsdsd
                                <a href="/">view details></a>
                            </div>

                            <p id="price">100$</p>

                        </div>

                        <div class="pimg"> <a href="/" style="text-decoration: none; color:white;">BUY</a></div>
                    </div>
                    <div class="productbox">
                        <div class="pinfobox">
                            <div class="proimg">
                                <img src="sampleimg.jpg" alt="" srcset="" class="proimgs">
                            </div>
                            <div class="proinfo">
                                Lorem ipsum dolor sit amet consectetur addsdsd
                                <a href="/">view details></a>
                            </div>

                            <p id="price">100$</p>

                        </div>
                        <div class="pimg"> <a href="/" style="text-decoration: none; color:white;">BUY</a></div>

                    </div>
                    <div class="productbox">
                        <div class="pinfobox">
                            <div class="proimg">
                                <img src="sampleimg.jpg" alt="" srcset="" class="proimgs">
                            </div>
                            <div class="proinfo">
                                Lorem ipsum dolor sit amet consectetur addsdsd
                                <a href="/">view details></a>
                            </div>

                            <p id="price">100$</p>

                        </div>
                        <div class="pimg"> <a href="/" style="text-decoration: none; color:white;">BUY</a></div>

                    </div>
                    <div class="productbox">
                        <div class="pinfobox">
                            <div class="proimg">
                                <img src="sampleimg.jpg" alt="" srcset="" class="proimgs">
                            </div>
                            <div class="proinfo">
                                Lorem ipsum dolor sit amet consectetur addsdsd
                                <a href="/">view details></a>
                            </div>

                            <p id="price">100$</p>

                        </div>
                        <div class="pimg"> <a href="/" style="text-decoration: none; color:white;">BUY</a></div>

                    </div>
                    <div class="productbox">
                        <div class="pinfobox">
                            <div class="proimg">
                                <img src="sampleimg.jpg" alt="" srcset="" class="proimgs">
                            </div>
                            <div class="proinfo">
                                Lorem ipsum dolor sit amet consectetur addsdsd
                                <a href="/">view details></a>
                            </div>

                            <p id="price">100$</p>

                        </div>
                        <div class="pimg"> <a href="/" style="text-decoration: none; color:white;">BUY</a></div>

                    </div>
                    <div class="productbox">
                        <div class="pinfobox">
                            <div class="proimg">
                                <img src="sampleimg.jpg" alt="" srcset="" class="proimgs">
                            </div>
                            <div class="proinfo">
                                Lorem ipsum dolor sit amet consectetur addsdsd
                                <a href="/">view details></a>
                            </div>

                            <p id="price">100$</p>

                        </div>
                        <div class="pimg"> <a href="/" style="text-decoration: none; color:white;">BUY</a></div>

                    </div>

                </div>
                <div class="next"> page1 page2</div>



            </div>
            <div class="grid-it" id="footer">footer</div>
        </div>


    </div>



</body>

</html>